Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [3]:
import pandas as pd

In [7]:
movie = pd.read_csv('ratings.csv')
movie.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
def class_rating(param):
    if param <= 2:
        return'Низкий рейтинг'
    elif 2 < param and param <= 4:
        return'Средний рейтинг'
    else:
        return'Высокий рейтинг'

In [12]:
movie['class'] = movie['rating'].apply(class_rating)
movie.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  Средний рейтинг
1       1        3     4.0  964981247  Средний рейтинг
2       1        6     4.0  964982224  Средний рейтинг
3       1       47     5.0  964983815  Высокий рейтинг
4       1       50     5.0  964982931  Высокий рейтинг

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [33]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [34]:
keywords = pd.read_csv('keywords.csv', encoding = 'utf-8')
keywords.head(10)

                      keyword     shows
0                          вк  64292779
1               одноклассники  63810309
2                       порно  41747114
3                        ютуб  39995567
4                   вконтакте  21014195
5  одноклассники моя страница  19976138
6                        майл  15144673
7                       авито  14786593
8                  переводчик  14453469
9                      яндекс  13344734

In [47]:
def region_of_keywords(param):
    for k,v in geo_data.items():
        if param in v or param.capitalize in v:
            return k
    return'undefined'

In [48]:
keywords['region'] = keywords['keyword'].apply(region_of_keywords)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [49]:
keywords.region.value_counts()

undefined         99991
Северо-Запад          3
Дальний Восток        3
Центр                 3
Name: region, dtype: int64